*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    background-color: white;
}
header {
    background-color: white;
    height: 140px;
    background-position: center ;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.logo {
    height: 100px;
    display: flex;
}

.logo{
    height: 80px;
    width: 80px;
    border-radius: 10%;
    border: 2px solid #a07eb7;
    box-shadow: 0px 0px 10px rgb(160, 126, 183, 0.4);
    
}
.iconoUsuario button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.iconoUsuario button :hover{
    transform: scale(1.1);
}

.iconoUsuario img{
    height: 80px; 
    width: 80px;
    border-radius: 50%;
    border: 2px solid #A07EB7;
    box-shadow: 0px 0px 10px rgb(160, 126, 183, 0.4);
    object-fit: cover;
}

nav {
  height: 95px;
  background-color: rgb(142, 101, 165);
  position: sticky;
  top: 110px;
  z-index: 1;
  padding-top: 15px;
}

nav ul li a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* LISTA DESPLEGABLE */

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  gap: 8%;
}

nav ul a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li:hover {
  background: #7d4096;
  border-radius: 15px;
  
}

.vl {
  border-left: 2px solid rgb(0, 0, 0);
  height: 40px;
} /* Linea vertical*/


.container{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  padding: 20px;
}

.card{
  background-color: #dedde1;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(100, 0, 150, 0.3);
  padding: 30px;
  width: 480px;
  position: relative;
}

.venta-titulo{
  background-color: #b79acb;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.venta-contenido{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.imagenes img{
  width: 100px;
  height: 80px;
  margin-bottom: 10px;
  object-fit: contain;
}

.info p{
  margin: 8px 0;
  font-size: 16px;
}



.back-arrow{
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 30px;
  transform: rotate(180deg);
  cursor: pointer;
}

.user-card{
  text-align: center;
}

.user-card img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.user-card p{
  font-size: 16px;
  margin: 6px 0;
}

.user-card h2{
  margin-bottom: 15px;
}
