*{
    margin: 0;
    padding: 0;
  }
  
  /* HEADER CSS */
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
  }
  
  header button img {
    width: 100px;
    height: 80%;
    padding: 0px;
    margin: 5px;
  }
  
  header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  header button:hover {
    border: 1px;
  }
  header button:active {
    transform: scale(0.9, 0.9);
  }
  
  .logo {
    width: 100px;
    height: 90%;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 30px;
  }
  
  .lupa button img {
    width: 60px;
    height: 60px;
  }
  
  .cajaTexto {
    width: 1000px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  /*  NAV CSS */
  
  nav {
    height: 60px;
    background-color: rgb(142, 101, 165);
    position: sticky;
    top: 110px;
    z-index: 1;
    padding-top: 15px;
  }
  
  nav ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  /* LISTA DESPLEGABLE */
  
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }
  
  nav ul a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  nav ul li:hover {
    background: #7d4096;
    border-radius: 15px;
    
  }
  
  nav ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    background: #eee;
    padding: 0;
    border-radius: 15px;
    border: 2px solid #000000;
  }
  
  nav ul ul li {
    float: none;
    width: 250px;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  .vl {
    border-left: 2px solid rgb(0, 0, 0);
    height: 40px;
  } /* Linea vertical*/

  /* Inicio*/

  main{
    display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .contenedor{
    width: 80%;
    margin-left: 17%;
    

  }

  .productos-1 {
    width: 40%;
    height: 450px;
    margin: 3%;
    float: left;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 10px #7e4096b9;
    border: 2px solid #000000;
  }
  
  .productos-1 img {
    width: 80%;
    height: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    border-radius: 15%;
    object-fit: cover;
  }

  .productos-2 {
    width: 25%;
    height: 450px;
    margin: 3%;
    float: left;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 10px #7e4096b9;
    border: 2px solid #000000;
  }
  
  .productos-2 img {
    width: 80%;
    height: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    border-radius: 15%;
    object-fit: cover;
  }

  .productos-3 {
    width: 71%;
    height: 200px;
    margin: 3%;
    float: left;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 10px #7e4096b9;
    border: 2px solid #000000;
  }
  
  .productos-3 img {
    width: 80%;
    height: 50%;
    vertical-align: top;
    text-align: center;
    padding-top: 30px;
    border-radius: 15%;
    object-fit: cover;
  }

  #caja_destacados{
    width: 30%;
    height: 75px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 10px #7e4096b9;
    border: 2px solid #000000;
    margin-top: 30px;
    text-align: center;
  }
  
  #caja_destacados h1{
    margin-top: 15px;
  }
  